In [16]:
import torch
import cv2
import numpy as np

import jax 
import jax.numpy as jnp


from matplotlib import pyplot as plt
%matplotlib inline

device = torch.device('cpu')

# Input
Reading the video and converting it into multiple images

In [4]:
def convert_video_to_frame(path:str):
    cap = cv2.VideoCapture(path)
    
    img = []
    while cap.isOpened():
        ret,frame = cap.read()
        if ret == True:
#             OpenCV converting the image from BGR to RGB
            img.append(frame[..., ::-1])
        else:
            break
    
    cap.release()
    return img

In [5]:
img_sin = convert_video_to_frame('./single_ball.mp4')
img_multi = convert_video_to_frame('./multi_ball.avi')

print(img_sin[0].shape,img_multi[0].shape)

(540, 960, 3) (360, 640, 3)

In [6]:
def convert_torch(img,device):
    return torch.tensor(np.array(img)).permute(0,3,1,2).to(device)

In [7]:
img_multi_torch = convert_torch(img_multi,device)
img_sin_torch = convert_torch(img_sin,device)

# Model
Loading YOLOv5 medium model

In [8]:
# Model
model = torch.hub.load('ultralytics/yolov5', 'yolov5l', pretrained=True, _verbose=False)
model = model.to(device)

Using cache found in /home/mohit/.cache/torch/hub/ultralytics_yolov5_master

In [9]:
results_torch = model(img_sin_torch)
results_cv = model(img_sin)

In [10]:
results_cv.pandas().xyxy[0].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   xmin        3 non-null      float64
 1   ymin        3 non-null      float64
 2   xmax        3 non-null      float64
 3   ymax        3 non-null      float64
 4   confidence  3 non-null      float64
 5   class       3 non-null      int64
 6   name        3 non-null      object
dtypes: float64(5), int64(1), object(1)
memory usage: 296.0+ bytes

In [11]:
results_pd = results_cv.pandas().xyxy

In [25]:
for i in range(len(results_pd)):
    if 32 in results_pd[i]['class'].values and 49 in results_pd[i]['class'].values :
        print(i)

0
1
2
12
13
14
15
18
19
34
35
37
38
39
46
47
48
49
50

In [51]:
a = results_torch[0]

n = a.shape[0]

for i in range(n):
#     print(torch.max(a[i][5:]))
    if a[i][4]>0.8 and torch.max(a[i][5:])>=1:
        print(f'The class with maximum prob is {torch.argmax(a[i][5:])}')

The class with maximum prob is 32
The class with maximum prob is 32
The class with maximum prob is 74
The class with maximum prob is 32
The class with maximum prob is 9
The class with maximum prob is 74
The class with maximum prob is 32
The class with maximum prob is 32
The class with maximum prob is 32
The class with maximum prob is 32
The class with maximum prob is 32

In [47]:
torch.max(a[:,5:])

tensor(1.)

In [33]:
a = torch.tensor([12,23,36,4,65])
torch.argmax(a[2:])

tensor(2)

In [34]:
a[2:]

tensor([36,  4, 65])

In [32]:
results_pd[0]

,xmin,ymin,xmax,ymax,confidence,class,name
0,890.533081,153.080200,959.659607,233.361832,0.711965,0,person
1,856.409973,231.083740,959.805969,318.779388,0.612472,49,orange
2,856.102478,231.109558,959.919800,318.639191,0.520424,32,sports ball